.main{
  padding-top : 20px;
  margin: 0 15px;
}

.labels{
  margin: 5px;
  color :rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.head{
  font-size: 17px;
  font-weight : 500;
}

.heads{
  font-size: 14px;
  font-weight : 600;
}

.icon{
  padding: 0 7px;
  font-size: 20px;
  color: #1890ff;
}

.btn{
  border: 0;
}

.cardData{
  margin : 20px !important;
}

@media (max-width: 577px) {
  .infoCard{
    width : 100%;
  }
}

@media (min-width: 577px) {
  .infoCard{
    width : 1000px;
    margin: 20px;
  }
}

.smallCard{
  border-left: 3px solid #1890ff;
  margin: 0 20px;
  padding: 12px!important;
}

.dayHead{
  font-size: 24px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 0px;
}

.date{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

